<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event</title>
    <% include ./partials/_links.ejs %>
  </head>

  <body>
   <% include ./partials/_navbar.ejs %>
    <main class="event-details">
      <div>
        <h1>Time Slots</h1>
        <table class="time-slots table-bordered">
        </table>
      </div>
    </main>
  </body>
</html>
