<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event</title>
    <% include ./partials/_links.ejs %>
  </head>

  <body>
   <% include ./partials/_navbar.ejs %>
    <main>
      <h1>Event Details</h1>
      <p>Title</p>
      <p>Description</p>
    </main>
  </body>
</html>
