<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event</title>
    <% include ./partials/_links.ejs %>
  </head>

  <body>
   <% include ./partials/_navbar.ejs %>
    <main class="event-details">
      <div>
        <p>Time Slots</p>
        <table class="time-slots table-bordered">
          <tr>
            <th></th>
            <th>Oct 18 Thu</th>
            <th>Oct 19 Fri</th>
            <th>Oct 20 Sat</th>
          </tr>
          <tr>
            <td>3 participants</td>
            <td>3</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>Bob</td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
          </tr>
        </table>
      </div>
    </main>
  </body>
</html>
