<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include ./partials/_links.ejs %>
  </head>

  <body>
    <% include ./partials/_navbar.ejs %>
    <main>
      <div class="leftbg"></div>
      <div class="center">
        <h1>Welcome to Schoodle!</h1>
      </div>
      <div class="rightbg"></div>
    </main>
  </body>
</html>
