<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create A New Event</title>
  <% include ./partials/_links.ejs %>
  <script type="text/javascript" src="/scripts/calendar.js"></script>
</head>

<body onload="showCalendar()">
  <main class="new-event">
    <h1>Create A New Event!</h1>
    <form class="new-event-form">
      <input class="form-control" type="title" name="title" placeholder="Event title">
      <input class="form-control" type="description" name="description" placeholder="Event description">
      <input class="form-control" type="name" name="name" placeholder="Name">
      <input class="form-control" type="email" name="email" placeholder="Email">
      <button type="Submit" value="Submit">Submit</button>
    </form>
    <div class="calendarHeader">
      <i class="fas fa-arrow-left"></i>
      <span class="calendarDate"></span>
      <i class="fas fa-arrow-right"></i>
    </div>
    <div>
      <table class="calendar">

      </table>
      <div class="times">

      </div>
    </div>
  </main>
</body>

</html>