body {
  background-color: White;
  font-family: "Comfortaa", cursive;
}

body .homepage {
  display: flex;
  flex-direction: row;
}

body .homepage .leftbg {
  background-image: url(autumn_forest.jpg);
  filter: opacity(50%);
}

body .homepage .rightbg {
  background-image: url(autumn_forest.jpg);
  filter: opacity(50%);
}

body .homepage div {
  height: 680px;
  width: 400px;
}

body .homepage div:nth-of-type(2) {
  min-width: 800px;
  text-align: center;
}

body .homepage .calendar {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

body h1 {
  color: #244751;
}

nav {
  width: 100%;
  background-color: #EEE;
}

nav span {
  font-size: 1.5rem;
}
