body {
  background-color: White;
  font-family: "Comfortaa", cursive;
}

body main {
  width: 55%;
  margin: 0 auto;
}

body main .calendar {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

<<<<<<< HEAD
=======
body main .calendarHeader {
  margin: 10px auto;
  text-align: center;
}

>>>>>>> Added font-awesome to get small icons
body h1 {
  color: #244751;
}

nav {
  width: 100%;
  background-color: #EEE;
}

nav span {
  font-size: 1.5rem;
}
