nav {
  width: 100%;
  background-color: #EEE;
  span {
    font-size: 1.5rem;
  }
}

body {
  background-color: White;
  font-family: "Comfortaa", cursive;

  .homepage {
    display: flex;
    flex-direction: row;

    .leftbg {
      background-image: url(autumn_forest.jpg);
      filter: opacity(50%);
    }
    .rightbg {
      background-image: url(autumn_forest.jpg);
      filter: opacity(50%);
    }

    div {
      height: 680px;
      width: 400px;
    }
    div:nth-of-type(2){
      min-width:800px;
      text-align:center;
    }
  }

  .new-event {
    width: 55%;
    margin: 0 auto;
    text-align: center;

    .calendar {
      padding: 10px 0;
    }
    .calendarCell:hover {
      cursor: pointer;
    }

    .calendarOutsideMonth:hover {
      cursor: default;
    }

    .calendarTable {
      margin: 0;
      padding: 5px;
      float: left;

      .calendarCell {
        border: 1px solid transparent;
        padding: 5px;
      }

      .calendarSelectedCell {
        border: 1px solid #000;
      }
    }
    .calendarHeader {
      display: flex;
      justify-content: space-between;
      max-width: 229px;
      padding: 5px;
      text-align: left;
      .fa-arrow-left {
        margin: 5px 10px;
      }
      .fa-arrow-right {
        margin: 5px 10px;
      }
    }
  }
  .event-details {
    width: 55%;
    margin: 0 auto;
    .newAvailability {
      cursor: pointer;
    }
    .notAvailable {
      background-color: #f13e3e; 
    }
    .available {
      background-color: #0fb10f; 
    }
  }
}

.times {
  margin-left: 50px;
  float: right;
}

.time-slots {
  width: 500px;
}

.add-timeslot {
  width: 100px;
}

.submit {
  display: none;
  float: right;
}
.submit:hover {
    cursor: pointer;
  }

.fas:hover {
  cursor: pointer;
}

.add-timeslot:hover{
  cursor: pointer;
}

input {
  width: 50px;
}
