body {
  background-color: White;
  font-family: "Comfortaa", cursive;
  main{
    width: 55%;
    margin: 0 auto;
  }
  h1 {
    color: #244751;
  }
}

nav {
  width: 100%;
  background-color: #EEE;
  span {
    font-size: 1.5rem;
  }
}
